# Data Exploration for the Zillow dataset

In [30]:
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
prop_features = pd.read_csv('../data/properties_2016.csv')

/Users/wathid/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [31]:
def explain_col(data, col):
    list_col = prop_features.columns.tolist()
    null_idx = data.iloc[:, col].isnull()
    leftover_data = data[-null_idx]
    num_row = len(data)
    num_null = sum(null_idx)
    num_data_left = len(leftover_data)
    print 'column', list_col[col]
    print 'number of row', num_row
    print 'number of missing', num_null
    print 'percentage of data left', (num_data_left/num_row)*100

In [32]:
num_col = prop_features.shape[1]
for i in range(num_col):
    explain_col(prop_features, i)

column parcelid
number of row 2985217
number of missing 0
percentage of data left 100.0
column airconditioningtypeid
number of row 2985217
number of missing 2173698
percentage of data left 27.184589931
column architecturalstyletypeid
number of row 2985217
number of missing 2979156
percentage of data left 0.203033816302
column basementsqft
number of row 2985217
number of missing 2983589
percentage of data left 0.0545353989341
column bathroomcnt
number of row 2985217
number of missing 11462
percentage of data left 99.6160413129
column bedroomcnt
number of row 2985217
number of missing 11450
percentage of data left 99.6164432937
column buildingclasstypeid
number of row 2985217
number of missing 2972588
percentage of data left 0.423051322567
column buildingqualitytypeid
number of row 2985217
number of missing 1046729
percentage of data left 64.9362508655
column calculatedbathnbr
number of row 2985217
number of missing 128912
percentage of data left 95.6816539635
column decktypeid
number of row 2985217
number of missing 2968121
percentage of data left 0.572688685613
column finishedfloor1squarefeet
number of row 2985217
number of missing 2782500
percentage of data left 6.79069561777
column calculatedfinishedsquarefeet
number of row 2985217
number of missing 55565
percentage of data left 98.1386612766
column finishedsquarefeet12
number of row 2985217
number of missing 276033
percentage of data left 90.7533355197
column finishedsquarefeet13
number of row 2985217
number of missing 2977545
percentage of data left 0.256999742397
column finishedsquarefeet15
number of row 2985217
number of missing 2794419
percentage of data left 6.39142816083
column finishedsquarefeet50
number of row 2985217
number of missing 2782500
percentage of data left 6.79069561777
column finishedsquarefeet6
number of row 2985217
number of missing 2963216
percentage of data left 0.736998348864
column fips
number of row 2985217
number of missing 11437
percentage of data left 99.616878773
column fireplacecnt
number of row 2985217
number of missing 2672580
percentage of data left 10.4728399979
column fullbathcnt
number of row 2985217
number of missing 128912
percentage of data left 95.6816539635
column garagecarcnt
number of row 2985217
number of missing 2101950
percentage of data left 29.5880332988
column garagetotalsqft
number of row 2985217
number of missing 2101950
percentage of data left 29.5880332988
column hashottuborspa
number of row 2985217
number of missing 2916203
percentage of data left 2.3118587359
column heatingorsystemtypeid
number of row 2985217
number of missing 1178816
percentage of data left 60.5115474017
column latitude
number of row 2985217
number of missing 11437
percentage of data left 99.616878773
column longitude
number of row 2985217
number of missing 11437
percentage of data left 99.616878773
column lotsizesquarefeet
number of row 2985217
number of missing 276099
percentage of data left 90.7511246251
column poolcnt
number of row 2985217
number of missing 2467683
percentage of data left 17.3365621327
column poolsizesum
number of row 2985217
number of missing 2957257
percentage of data left 0.936615328132
column pooltypeid10
number of row 2985217
number of missing 2948278
percentage of data left 1.23739748233
column pooltypeid2
number of row 2985217
number of missing 2953142
percentage of data left 1.07446125357
column pooltypeid7
number of row 2985217
number of missing 2499758
percentage of data left 16.2621008791
column propertycountylandusecode
number of row 2985217
number of missing 12277
percentage of data left 99.588740115
column propertylandusetypeid
number of row 2985217
number of missing 11437
percentage of data left 99.616878773
column propertyzoningdesc
number of row 2985217
number of missing 1006588
percentage of data left 66.280910232
column rawcensustractandblock
number of row 2985217
number of missing 11437
percentage of data left 99.616878773
column regionidcity
number of row 2985217
number of missing 62845
percentage of data left 97.8947929079
column regionidcounty
number of row 2985217
number of missing 11437
percentage of data left 99.616878773
column regionidneighborhood
number of row 2985217
number of missing 1828815
percentage of data left 38.7376194092
column regionidzip
number of row 2985217
number of missing 13980
percentage of data left 99.5316923359
column roomcnt
number of row 2985217
number of missing 11475
percentage of data left 99.6156058337
column storytypeid
number of row 2985217
number of missing 2983593
percentage of data left 0.054401405325
column threequarterbathnbr
number of row 2985217
number of missing 2673586
percentage of data left 10.4391406052
column typeconstructiontypeid
number of row 2985217
number of missing 2978470
percentage of data left 0.226013720276
column unitcnt
number of row 2985217
number of missing 1007727
percentage of data left 66.2427555518
column yardbuildingsqft17
number of row 2985217
number of missing 2904862
percentage of data left 2.69176411631
column yardbuildingsqft26
number of row 2985217
number of missing 2982570
percentage of data left 0.0886702708714
column yearbuilt
number of row 2985217
number of missing 59928
percentage of data left 97.9925077473
column numberofstories
number of row 2985217
number of missing 2303148
percentage of data left 22.8482217541
column fireplaceflag
number of row 2985217
number of missing 2980054
percentage of data left 0.172952251042
column structuretaxvaluedollarcnt
number of row 2985217
number of missing 54982
percentage of data left 98.1581908451
column taxvaluedollarcnt
number of row 2985217
number of missing 42550
percentage of data left 98.5746429824
column assessmentyear
number of row 2985217
number of missing 11439
percentage of data left 99.6168117762
column landtaxvaluedollarcnt
number of row 2985217
number of missing 67733
percentage of data left 97.7310527174
column taxamount
number of row 2985217
number of missing 31250
percentage of data left 98.9531749283
column taxdelinquencyflag
number of row 2985217
number of missing 2928755
percentage of data left 1.89138679031
column taxdelinquencyyear
number of row 2985217
number of missing 2928753
percentage of data left 1.89145378711
column censustractandblock
number of row 2985217
number of missing 75126
percentage of data left 97.4833990293

In [3]:
label_data = pd.read_csv('../data/train_2016.csv')

In [4]:
label_data.head()

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02

In [5]:
prop_features.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9,2015,9,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516,2015,27516,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756,1413387,2015,762631,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0,0,3,7,NaN,NaN,...,1,NaN,571346,1156834,2015,585488,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0,0,4,NaN,NaN,NaN,...,NaN,NaN,193796,433491,2015,239695,5725.17,NaN,NaN,NaN

In [6]:
prop_features.describe()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,yardbuildingsqft26,yearbuilt,numberofstories,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock
count,2.985217e+06,811519.000000,6061.000000,1628.000000,2973755.000000,2973767.000000,12629.000000,1938488.000000,2856305.000000,17096,...,2647.000000,2925289.000000,682069.000000,2.930235e+06,2.942667e+06,2973778.000000,2917484.000000,2953967.000000,56464.000000,2.910091e+06
mean,1.332586e+07,1.931166,7.202607,646.883292,2.209143,3.088949,3.725948,5.784787,2.299263,66,...,278.296562,1964.261641,1.401464,1.708836e+05,4.204790e+05,2014.999459,252478.029469,5377.607139,13.892409,6.048431e+13
std,7.909966e+06,3.148587,2.436290,538.793473,1.077754,1.275859,0.501700,1.805352,1.000736,0,...,369.731508,23.441319,0.539076,4.020683e+05,7.263467e+05,0.036832,445013.169618,9183.107128,2.581006,3.249035e+11
min,1.071172e+07,1.000000,2.000000,20.000000,0.000000,0.000000,1.000000,1.000000,1.000000,66,...,10.000000,1801.000000,1.000000,1.000000e+00,1.000000e+00,2000.000000,1.000000,1.340000,0.000000,-1.000000e+00
25%,1.164371e+07,1.000000,7.000000,272.000000,2.000000,2.000000,3.000000,4.000000,2.000000,66,...,96.000000,1950.000000,1.000000,7.480000e+04,1.796750e+05,2015.000000,74836.000000,2461.070000,14.000000,6.037400e+13
50%,1.254509e+07,1.000000,7.000000,534.000000,2.000000,3.000000,4.000000,7.000000,2.000000,66,...,168.000000,1963.000000,1.000000,1.225900e+05,3.060860e+05,2015.000000,167042.000000,3991.780000,14.000000,6.037572e+13
75%,1.409712e+07,1.000000,7.000000,847.250000,3.000000,4.000000,4.000000,7.000000,3.000000,66,...,320.000000,1981.000000,2.000000,1.968890e+05,4.880000e+05,2015.000000,306918.000000,6201.005000,15.000000,6.059042e+13
max,1.696019e+08,13.000000,27.000000,8516.000000,20.000000,20.000000,5.000000,12.000000,20.000000,66,...,6141.000000,2015.000000,41.000000,2.514860e+08,2.827860e+08,2016.000000,90246219.000000,3458861.120000,99.000000,4.830301e+14